// General CSS for all

a, a:visited {
    text-decoration: none !important;
    color: $hight-gray;
}

a:hover {
  color: $my-fresh;
}

li {
  list-style-type: none;
}
.content li {
  list-style-type: disc;
}
i {
  margin-right: 0.2em;
  margin-left: 0.2em;
}
.devise-links{
  padding-top: 10px;
  // font-size: 14px;
}
