// General CSS for all

a, a:visited {
    text-decoration: none !important;
}

li {
  list-style-type: none;
}
.content li {
  list-style-type: disc;
}
i {
  margin-right: 0.2em;
  margin-left: 0.2em;
}
