<!-- <div class="col-xs-4">
  <div class="step step-on step-ok">
    <p>Liaison</p>
    <div class="step-circle">
      1
    </div>
  </div>
</div>
<div class="col-xs-4">
  <div class="step step-on">
    <p>Profil</p>
    <div class="step-circle">
      2
    </div>
  </div>
</div>
<div class="col-xs-4">
  <div class="step">
    <p>Validation</p>
    <div class="step-circle">
      3
    </div>
  </div>
</div> -->

<ul class="progressbar">
  <li class= <%= "active" if current_user.onboarding_step >= 1%> >
    Liaison
  </li>
  <li class= <%= "active" if current_user.onboarding_step >= 2%> >
    Profil
  </li>
  <li class= <%= "active" if current_user.onboarding_step >= 3%> >
    Validation
  </li>
</ul>
