<h1>EnedisConnections#connect</h1>
<p>Find me in app/views/enedis_connections/connect.html.erb</p>

<p>PDL : <%= @usage_point_id %></p>
<p>Identité : <%= "#{@firstname} #{@lastname.upcase}" %></p>
<p>Tél. : <%= @phone %></p>
