<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Tu veux réduire facilement tes factures d'énergie ?</h1>
        <!-- <h4>Suivre et comprendre simplement ses consos c'est déjà 2O% d'économies.</h4>
        <h4>Avec KOOLEKO, tu sais à tout moment où tu en es en € sur ta prochaine facture et on trouve les meilleures solutions pour la réduire.</h4> -->
        <%= link_to new_user_registration_path, class: "btn btn-primary btn-lg"  do %>
          <%= "Créer mon compte" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
