<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="panel text-center">
        <%= render 'shared/onboarding_steps' %>
        <h2>Liaison avec ton compte ENEDIS</h2>
        <p>C'est la seule étape un peu pénible : te relier à ton compte ENEDIS...</p>
        <p>KOOLEKO -------> ENEDIS</p>
        <!-- !! Voir pour passer le lien en variable / fichier data/parameters.yml -->
        <%= link_to '#', class: "enedis-btn" do %>
          <%= image_tag "je-partage-donnees-enedis.png", height: 75 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
