<p>Hello <%= current_user.email %> !</p>
<p>onboarding_step : <%= @onboarding_step %></p>
<!--
<% if step == 1 %>
  <%= render 'pages/enedis_link' %>
<% elsif  step == 2 %>
  <%= render 'pages/profil_validation' %>
<% elsif step == 3 %>
  <p>* * * Tableau de bord * * *</p>
<% end %>
 -->
