<!--

Si Visiteur (non connecté) Alors :
  "Créer mon compte" + "Connexion" dans navbar

Affichage = f (stade d'avancement onboarding user) :
  Stade d'avancement onboarding :
      1 - Compte validé
      2 - Liaison ENEDIS Ok
      3 - Profil complet

Cas à prévoir :
  Si onboarding_state == 1 : bloc avec bouton "Je partage mes données ENEDIS"
  Si onboarding_state == 2 : formulaire "Profile" à compléter
  Si onboarding_state == 3 : bloc "Dashboard"

 -->
<% if user_signed_in? == false %>
  <%= render 'pages/banner' %>
<% else %>
  <p>Hello <%= current_user.email %> !</p>
<% end %>
