<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="panel text-center">
        <div class="row">
          <%= render 'shared/onboarding_steps' %>
        </div>
        <div class="row">
          <div id="enedis-ok">
            <h2><i class="fas fa-check"></i> Liaison avec ENEDIS validée !</h2>
          </div>
          <p>Merci de compléter et de valider ton profil</p>
          <p>Formulaire à compléter...</p>
            <!-- Bloc de validation du profil (avec " V Liaison avec ENEDIS Ok !" et "Valider" qui amène vers "validation pages#validation") -->
            <div class="btn btn-success">
              <%= link_to "Valider", "#" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
