<p>Hello !</p>

<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p> -->
<p>Une demande de modification de ton mot de passe a été effectuée. Pour confirmer :</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<!-- <p>If you didn't request this, please ignore this email.</p> -->
<p>Si tu n'as pas fait cette demande, merci d'ignorer cet email.</p>
<!-- <p>Your password won't change until you access the link above and create a new one.</p> -->
<p>Ton mot de passe ne sera pas modifié tant que tu n'auras pas cliqué sur le lien ci-dessus et que tu en auras créé un nouveau.</p>
